on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install
        run: npm ci
      - name: Svelte Check
        run: npm run check
      - name: Prettier
        run: npm run format
      #- name: Linter
      #  run: npm run lint
      - name: Test
        run: npm run test
      - name: Build
        run: npm run build
